.Button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
}

.Button--primary {
  background-color: #24b324;
}

.Button--destructive {
  background-color: #d92b2b;
}